---
import GitHub from "./icons/GitHub.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Sass from "./icons/Sass.astro"
import Php from "./icons/Php.astro"
import MySQL from "./icons/Mysql.astro"
import React from "./icons/React.astro"
import TypeScript from "./icons/TypeScript.astro"
import Vite from "./icons/Vite.astro"
import JavaScript from "./icons/JavaScript.astro"


const TAGS = {
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  SASS: {
    name: "Sass",
    class: "bg-[#A5009E] text-white",
    icon: Sass,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#7100A7] text-white",
    icon: Php,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#00689C] text-white",
    icon: MySQL,
  },
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: TypeScript,
  },
  VITE: {
    name: "Vite",
    class: "bg-[#7B029C] text-white",
    icon: Vite,
  },
  JS: {
    name: "JavaScript",
    class: "bg-[#ADA000] text-white",
    icon: JavaScript,
  },
  
}
const PROJECTS = [
  
  {
    title: "Planificador de Gastos",
    description:
      "Te permite tomar un control de tus gastos mensuales y anuales, creando presupuestos personalizados e incorpora la capacidad de filtrar por categorías cada uno de los presupuestos. ",
    link: "https://controlgastos-contextapi.netlify.app/",
    github: "https://github.com/AsensiDev/expenseControl",
    image: "/projects/planificador.webp",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.TAILWIND, TAGS.VITE],
  },
  {
    title: "Generador de Propinas",
    description:
      "Web Diseñada y Optimizada para la generación de propinas enfocada a servicios de hostelería. La cual permite al consumidor abonar un porcentaje de propina y se le facilita el total a pagar.",
    link: "https://6662c975651d58e8400e9ee1--symphonious-travesseiro-9ef63b.netlify.app/",
    github: "https://github.com/AsensiDev/tipsGenerator",
    image: "/projects/tipGenerator.webp",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.TAILWIND, TAGS.VITE],
  },
  {
    title: "Web de Restaurante de Lujo",
    description:
      "Landing Page moderna diseñada para la conversión de potenciales clientes a consumidores reales, a través de la Captación de Leads y la integración de la API de WhatsApp.",
    link: "https://thunderous-clafoutis-165cc9.netlify.app/",
    github: "https://github.com/AsensiDev/divineDine",
    image: "/projects/divineDine.webp",
    tags: [TAGS.SASS, TAGS.JS, TAGS.PHP, TAGS.MYSQL],
  }
  
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 mt-3 md:mt-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



